
/*-- Hedear --*/

header{
	background: #282828;
    padding-top: 5px;
    	
}


/*--------------------------*/


/*-------------------------*/



.icons-header a{
    color: #dddddd;
    font-size: 24px;

}

/* .form-control{
    width: auto;
} */


.navbar-light .navbar-nav .nav-link {
    color: #dddddd;
}



