/* a {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
} */

a:hover {
    text-decoration: none;
    opacity: .8;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

input[type="button"],
input[type="submit"] {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

p {
    margin: 0;
    letter-spacing: 1px;
    font-size: 15px;
    line-height: 1.9;
    color: #999;
    font-family: 'Open Sans', sans-serif;
}

ul {
    margin: 0;
    padding: 0;
}

label {
    margin: 0;
}







/*-- price --*/

.w3l-range ul li {
    display: block;
}

.w3l-range ul li a {
    font-size: 14px;
    color: #000;
    letter-spacing: 1px;
}

/*-- special effect --*/



span.item_price {
    font-size: 18px;
    color: #d60404;
}

/*-- single-page --*/


.single-infoagile ul li {
    display: block;
    font-size: 14px;
}

.product-single-w3l {
    border-top: 1px solid #0879c9;
}

.product-single-w3l p i {
    color: #0879c9;
    font-size: 24px;
}

.product-single-w3l p {
    color: #000;
    letter-spacing: 0.5px;
}

.product-single-w3l ul li {
    list-style: inside;
    font-size: 14px;
    line-height: 1.7;
}





.pic{
	width:70px;
	height:70px;
}
.picbig{
	position: absolute;
	width:0px;
	-webkit-transition:width 0.5s linear 0s;
	transition:width 0.5s linear 0s;
	z-index:10;
}
.pic:hover + .picbig{
	width:300px;
}