{% extends 'base.html' %}
{% load static %}
{% load cart_tag %}

{% block content %}

<table class="table">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Titulo</th>
        <th scope="col">Precio</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Total</th>
      </tr>
    </thead>
    <tbody>
      {% for key,value in request.session.cart.items %}  
      <tr>
        <th scope="row">{{key}}</th>
        <td>{{value.titulo}}</td>
        <td>{{value.precio}}</td>
        <td>{{value.quantity}}</td>
        <td>{{value.precio|multiply:value.quantity}}</td>
        <td><a href="{% url 'item_decrement' value.product_id %}"> decremento </a></td>
        <td><a href="{% url 'item_increment' value.product_id %}"> incrementar </a></td>
        <td><a href="{% url 'item_clear' value.product_id %}"> eliminar </a></td>
      </tr>
      {% endfor %}
      
    </tbody>
  </table>

  {% endblock content %}
