<div class="container-fluid">

    <section>
  
        <div id="carousel-example-multi" class="carousel slide carousel-multi-item v-2 product-carousel" data-ride="carousel">
  
          <!--Controls-->
         
          <!--/.Controls-->
  
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#carousel-example-multi" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-multi" data-slide-to="1"></li>
            <li data-target="#carousel-example-multi" data-slide-to="2"></li>
            <li data-target="#carousel-example-multi" data-slide-to="3"></li>
            <li data-target="#carousel-example-multi" data-slide-to="4"></li>
            <li data-target="#carousel-example-multi" data-slide-to="5"></li>
            <li data-target="#carousel-example-multi" data-slide-to="6"></li>
            <li data-target="#carousel-example-multi" data-slide-to="7"></li>
            <li data-target="#carousel-example-multi" data-slide-to="8"></li>
          </ol>
          <!--/.Indicators-->
  
          <div class="carousel-inner" role="listbox">
            {% for producto in producto_promocion|slice:":1" %}
            <div class="carousel-item active mx-auto">
              <div class="col-12 col-md-4 col-lg-2 mx-auto">
                <div class="card mb-2">
                  <div class="view overlay">
                    <img class="card-img-top" src="/static/img/prod1.jpg" alt="Card image cap">
                  </div>
                  <div class="card-body p-3">
                    <h5 class="card-title font-weight-bold mb-0">{{ producto.titulo }}</h5>
                    <span class="item_price">({{ producto.promocion }}% de descuento)</span>
                    <del class="mx-2 font-weight-light">${{ producto.precio }}</del>
                    <br>
                    <br>
                    <a href="/producto_detalle/{{ producto.id }}" class="btn btn-primary">Ver producto</a>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
            {% for producto in producto_promocion|slice:"1:" %}
            <div class="carousel-item">
                <div class="col-12 col-md-4 col-lg-2 mx-auto">
                  <div class="card mb-2">
                    <div class="view overlay">
                      <img class="card-img-top" src="/static/img/prod1.jpg" alt="Card image cap">
                    </div>
                    <div class="card-body p-3">
                      <h5 class="card-title font-weight-bold mb-0">{{ producto.titulo }}</h5>
                      <span class="item_price">({{ producto.promocion }}% de descuento)</span>
                      <del class="mx-2 font-weight-light">${{ producto.precio }}</del>
                      <br>
                      <br>
                      <a href="/producto_detalle/{{ producto.id }}" class="btn btn-primary">Ver producto</a>
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}   
  
          </div>
  
        </div>
  
    </section>
  
  </div>

