{% extends "base.html" %}
{% block content %}
<br>
{% load has_group %}
{% if user.is_authenticated and not request.user|has_group:"Usuario" %}
<div class="container">
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% if object_list%}
        {% for categoria in object_list %}
        <tr>
            <th scope="row">{{categoria.id}}</th>
            <td>{{categoria.nombre}}</td>
            <td>
                <a href="/categoria_lista/{{ categoria.id }}">Editar</a> | 
                <a href="/categoria_lista/eliminar/{{ categoria.id }}">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
        {% endif %}
    </tbody>
</table>
</div>
{% else %}
<div class="mx-auto" style="width: 50%;">
  <h4>Necesita permisos de administrador para continuar.</h4>
  <a class="btn btn-primary" href="{% url 'home' %}">Volver</a>
</div>
{% endif %}
{% endblock %}