{% extends 'base.html' %}

{% block content %}
<div class="container">
<form method="POST" class="post-form">
    <!-- metodo para enviar al servidor -->
    {% csrf_token %}

    <!--Formulario-->
    {{form.as_p}}
    </br>
    <!-- Mostrar el Producto a eliminar, en una tarjeta, carrousel, etc-->
    <h3>Desea Eliminar El Producto? </h3>
    <h5>{{producto.titulo}}</h5>
    <button class="btn btn-sm btn-success" type="submit">Eliminar</button>
    <a href="{% url 'lista_productos' %}" class="btn btn-sm btn-secondary">Cancelar</a>
    <!---->
</form>
</div>
{% endblock %}
