{% extends "base.html" %}
{% extends "mostrar_producto_imagen.html"}
{% block title %} Bienvenidos! {% endblock%}

{% block content %}
  {% include "carousel_principal.html" %}
<br>
  {% include "carousel_ofertas.html" %}
  <hr>

  <div class="table-responsive">
    <table class="table">
      <tbody>
        <tr>
          {% for cat in categorias %}
          <td>
            <a class="nav-link" href="/categorias/{{cat.id}}"><i class="fas fa-globe"></i> {{cat.nombre}}</a>
            
          </td>
          {% endfor %}
        </tr>
      </tbody>
    </table>
  </div>



{% endblock %}