{% extends "base.html" %}

{% block title %} Bienvennidos! {% endblock%}

{% block content%}

<form action="{% url 'search_results' %}" method="get">
    <input name="q" type="text" placeholder="Search...">

  <span class="input-group-list">
    <button class="btn btn-outline-success my-2 my-sm-0 mx-1" type="submit">Buscar</button>
      <!--<button type="submit" class="boton btn-successs">Buscar</button>-->
  </span>
</form>
<!--carrusel de ofertas-->

<!--carrusel de + likes -->


{% endblock content%}