{% extends "base.html" %}
{% block content %}

<table>
    <tr>
      <th>Titulo</th>
      <th>Descripcion</th>
      <th>Precio</th>
      <th>Promocion</th>
      <th>Fecha</th>
      <th>Categoria</th>
    </tr>
    
   
    <tbody>
        {% if object_list%}
        {% for producto in object_list %}
        <tr>
            <td>{{producto.titulo}}</td>
            <td>{{producto.descripcion}}</td>
            <td>{{producto.precio}}</td>
            <td>{{producto.promocion}}</td>
            <td>{{producto.fecha_hora}}</td>
            <td>{{producto.categoria}}</td>

        </tr>
        {% endfor %}
        {% endif %}
    </tbody>
</table>
  
{% endblock %}