{% extends "base.html" %}
{% block content %}
<div class="container">
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Titulo</th>
            <th scope="col">Precio</th>
            <th scope="col">Promocion</th>
            <th scope="col">Categoria</th>
            <th scope="col">Acciones</th>
            

        </tr>
    </thead>
    <tbody>
        {% if object_list%}
        {% for producto in object_list %}
        <tr>
            <th scope="row">{{producto.id}}</th>
            <td>{{producto.titulo}}</td>
            <td>{{producto.precio}}</td>
            <td>{{producto.promocion}}%</td>
            <td>{{producto.categoria}}</td>
            <td>
                <a href="/lista_productos/{{ producto.id }}">Editar</a> | 
                <a href="/lista_productos/eliminar/{{ producto.id }}">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
        {% endif %}
    </tbody>
</table>
</div>
{% endblock %}