{% load static  %}
    
<div class="col-md-3" style="float:left">
    <div class="card mb-2">
       <img class="card-img-top"
        {% load static %}
         src="/static/img/prod1.jpg" alt="Card image cap"> 
       <div class="card-body">
         <h4 class="card-title">{{producto.titulo}}  </h4>
         <p class="mb-3">
            {% if descuento %}
              <span class="item_price">${{ precioFinal }}</span>
                <span class="item_price">({{ producto.promocion }}% de descuento)</span>
                <del class="mx-2 font-weight-light">${{ producto.precio }}</del>
            {% else %}
                <span class="item_price">${{ producto.precio }}</span>
            {% endif %}
          </p>
         <a href="/producto_detalle/{{ producto.id }}" class="btn btn-primary">Ver</a>
         

       </div>
     </div>
   </div>



 