{% block content  %}
    
<div class="col-md-3" style="float:left">
    <div class="card mb-2">
       <img class="card-img-top"
        {% load static %}
         src="/static/img/prod1.jpg" alt="Card image cap">
       <div class="card-body">
         <h4 class="card-title">Card title</h4>
         <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
           card's content.</p>
         <a class="btn btn-primary">Button</a>
       </div>
     </div>
   </div>

{% endblock %} 

 