<nav class="navbar navbar-expand-lg navbar-light">
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <ul class="navbar-nav list-inline text-xs-right">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'materiales' %}">Materiales</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'herramientas' %}">Herramientas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'componentes' %}">Componentes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'kits' %}">Kits</a>
        </li>
      </ul>
    </div>

    <ul class="icons-header list-inline text-xs-right">
      <li class="list-inline-item">
        <a href="#"><i class="fas fa-shopping-cart"></i></a>
      </li>
      <li class="list-inline-item">
        <a href="#"><i class="fas fa-heart"></i></a>
      </li>
      <li class="list-inline-item">
        <a href="#"><i class="fas fa-user"></i></a>
      </li>
    </ul>
  </nav>