{% extends 'base.html'%}
{% load crispy_forms_tags %}
{% block title%} Producto!! {% endblock %}

{% block content %}
<br>
{% load has_group %}
{% if user.is_authenticated and not request.user|has_group:"Usuario" %}
<h4>Nuevo Producto:</h4>
<hr class="mt-0 mb-4">
<div class="container">
  <div class="row justify-content-center">
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="row">
        <div class="col-3">
          {{ productoForm.categoria|as_crispy_field }}
        </div>
        <div class="col-3">
          {{ productoForm.titulo|as_crispy_field }}
        </div>
        <div class="col-3">
          {{ productoForm.precio|as_crispy_field }}

        </div>
        <div class="col-3">

          {{ productoForm.promocion|as_crispy_field }}
        </div>
      </div>
      {{ productoForm.descripcion|as_crispy_field }}
      <div class="row">
      {{ formset.management_form }}
      {% for form in formset %}
      <div class="col-4">{{ form }}</div>
      {% endfor %}
      </div>
      <br>
      <button type="submit" class="btn btn-success">Guardar</button>

    </form>

    <!-- <div class="container">
    <div class="row justify-content-center">
      <div class="col-10">
        
        
        <form method="post" novalidate>
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-success">Guardar</button>
        </form>
      </div>
    </div> -->
  </div>
</div>
{% else %}
<div class="mx-auto" style="width: 50%;">
  <h4>Necesita permisos de administrador para continuar.</h4>
  <a class="btn btn-primary" href="{% url 'home' %}">Volver</a>
</div>
{% endif %}
{% endblock %}