{% extends 'base.html'%}
{% load static %}
{% block title %} Producto Elegido {%endblock%}

{% block content %}
<form class="post-form" method="post">
    
    {% csrf_token %}
    <h4>Titulo: </h4> {{ producto.titulo }}
    <h4>Descripcion: </h4> {{ producto.descripcion }}
    <hr>
    {% for image in imagenes %}
    
    <a href="">
     <img src="{% static 'img/{{image.nombreArchivo}}' %}' " alt="">   
    </a>
    
    {% endfor %}
  
    <br/>
    <input type="submit" class="btn btn-sm btn-success" value="Agregar al Carro">
</form>


{% endblock %}