{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <div class="d-flex justify-content-between flex.wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm">
                            <h2>Productos</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <form method="POST" class="post-form"> <!-- metodo para enviar al servidor -->
                                {% csrf_token %}
                                {{ producto }} 
                                <br/>           <!-- ver -->
                                <input type="submit" class="btn btn-sm btn-success" value="Guardar">
                                <a href="/productos" class="btn btn-sm btn-secondary">CANCELAR</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
{% endblock %}