<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Panel 
        {% load has_group %}
        {% if user.is_staff %}
            Admin
        {% elif request.user|has_group:"Gerente" %}
            Gerente
        {% elif request.user|has_group:"Gestor" %}
            Gestor
        {% endif %}
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Productos
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <!-- <a class="dropdown-item" href="{% url 'producto_alta' %}">Agregar producto</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'lista_productos' %}">Modificar/Eliminar</a> -->
          </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Categorias
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{% url 'categoria_alta' %}">Agregar categoria</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'categoria_lista' %}">Modificar/Eliminar</a>
            </div>
        </li>
        {% if request.user|has_group:"Gerente" or user.is_staff %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Ventas
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#"> -- </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#"> -- </a>
                </div>
            </li>
        {% endif %}

        {% if user.is_staff %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'administrador_alta' %}">Agregar Administrador</a>
        </li>
        {% endif %}

      </ul>
    </div>
  </nav>